/* Master Styles */
*{ 
    margin: 0px;
    box-sizing: border-box; 
}

/* Variables */
:root {
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/* Header Styles */
h1 {
    margin: 10px;
    color: #f88379;
}
/* Column Styles */
.column{
    float: left;
    width: 50%;
    padding: 10px;
    height: 430px;
    border-radius: 25px;
    
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 900px) {
    .column {
      width: 100%;   
    }
  }
.column p1, p2{
    font-size: 1em;
}  
.container{
    margin: 40px;
    font-family: Sans-serif;
}
.column img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
/* Nav Styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;   
}
.left-side{
    display: flex;   /*puts things side by side */
}
.nav-wrapper > .left-side > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.brand{
    color: pink;
}
.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
    color: pink;
    text-decoration: none; /*removes line under text*/
    transition: color 0.5s;
}
.nav-link-wrapper:hover { /*checks for a hover to occur */
    border-bottom: 1px solid orange; 
}
.nav-link-wrapper a:hover {
    color: orange;
}
/* Table Styles */
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr {
    background-color: #f88379;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 12px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid orange;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #ffefd5;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #f88379;
}

/* Question Styles */
  .questions {
    font-family: var(--ff-secondary);
    background: white;
    color: black;
    line-height: 1.5;
    font-size: 0.875rem;
  }
  h2{
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
    font-size: 2rem;
  }
  
  @media screen and (min-width: 800px) {
    h2 {
      font-size: 2.5rem;
      line-height: 1;
    }
    .questions {
        font-size: 1rem;
      }
  }
  /* Section Styles */
  .section {
    padding: 5rem 0;
  } 
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
  /* Question Styles */
  .title {
    margin-top: 15vh;
    margin-bottom: 4rem;
  }
  .title h2 {
    color: #f88379;
    font-family: "Sans-serif", cursive;
    font-weight: bold;
    text-align: center;
  }
  .section-center {
    max-width: var(--fixed-width);
  }
  .question {
    background: #ffefd5;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
  }
  .question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
  }
  
  .question-title p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: #f88379;
  }
  .question-btn {
    font-size: 5rem;
    background: orange;
    border-color: orange;
  }
  .question-btn:hover {
    transform: scale(1);
  }
  .question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .question-text p {
    margin-bottom: 0;
  }
  /* hide text */
.question-text {
    display: none;
  }
.show-text .question-text {
    display: block;
}